<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolTimetableApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolTimetableApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SchoolTimetableApp.My.MySettings.timetable_data_ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\timetable_data.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SchoolTimetableApp.My.MySettings>
            <setting name="start_time" serializeAs="String">
                <value>8:10</value>
            </setting>
            <setting name="end_time" serializeAs="String">
                <value>14:00</value>
            </setting>
            <setting name="term" serializeAs="String">
                <value>easter</value>
            </setting>
            <setting name="session" serializeAs="String">
                <value>2019/2020</value>
            </setting>
        </SchoolTimetableApp.My.MySettings>
    </userSettings>
    <applicationSettings>
        <SchoolTimetableApp.My.MySettings>
            <setting name="school_name" serializeAs="String">
                <value>KING'S KIDS CHRISTIAN INTERNATIONAL HIGH SCHOOL</value>
            </setting>
            <setting name="school_address" serializeAs="String">
                <value>24 J-LINE, SAM EDEM STREET, EWET HOUSING ESTATE, UYO </value>
            </setting>
            <setting name="school_motto" serializeAs="String">
                <value>Knowledge is power</value>
            </setting>
        </SchoolTimetableApp.My.MySettings>
    </applicationSettings>
</configuration>